.contenedor{
    background-color: rgba(250,250,250 ,1);
    width: 100%;

}

.articulos {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    left: 5%;
/*    background-color: cornsilk; */
    width: 90%;

}

@keyframes shadowThrob {
    from {box-shadow: 0 0 1px rgba(0,0,0,0.6);}
    to {box-shadow: 0 0 7px rgba(0,0,0,0.6);}

}

@keyframes principio {
    from {box-shadow: 0 0 7px rgba(0,0,0,0.6);}
    to {box-shadow: 0 0 1px rgba(0,0,0,0.6);}
}

.articulo{
    margin-bottom: 4vh;
    width: 100%;
    height: 40vh;
    background-color: rgba(246,246,246 ,1);
    animation: principio 0.5s;
    box-shadow: 0 0 2px rgba(0,0,0,0.6);;
    display: flex;
}


.articuloCrear{
    width: 100%;
    height: 40vh;
    background-color: rgba(246,246,246 ,1);
    display: flex;
}

.articulo:hover{
    animation: shadowThrob 0.5s;
    animation-fill-mode: forwards;

}

.articulo .lonegro {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.9));
    opacity: 0;
    animation: blacklayerReverse 0.5s;

}

.articulo .lonegro .recaudacion {
    float: left;
    color: white;
    margin-top: 45%;
    margin-left: 5%;
    font-size: 1.2vw;
    font-weight: lighter;
}

@keyframes blacklayer {
     from { opacity: 0;}
     to { opacity: 1;}
 }

@keyframes blacklayerReverse {
    from { opacity: 1;}
    to { opacity: 0;}
}

.articulo .lonegro:hover {
    animation: blacklayer 0.5s;
    animation-fill-mode: forwards;

}

.articulo .imgProyecto {
     width: 40%;
     height: 100%;
     /*  background: url('../../images/unafoto.png') no-repeat center / cover; */


 }

.articuloCrear .imgProyectoCrear {
    width: 40%;
    height: 100%;
    background: rgba(240,240,240,1) url('../../images/photobutton.svg') no-repeat center / contain;


}

.articuloCrear .imgProyectoCrear:hover {

  cursor: pointer;
}

.articuloCrear {
    height: 80%;
}

.articulo .contenidoProyecto {
    height: 96%;
    width: 56%;
    padding: 2%;

}

.articuloCrear .contenidoProyectoCrear {
    height: 96%;
    width: 56%;
    padding: 2%;

}

.articulo .contenidoProyecto h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
}

.inputTitulo{
    text-align: center;
    font-weight: bold;
    margin-left: 29%;

    font-size: 1.5vw;
    background: transparent;
    border: solid black;
    border-width: 0 0 1px 0;

}

.articuloCrear textarea{
    margin-top: 5%;
}


.articulo .contenidoProyecto h4{
     text-align: center;
     font-weight: normal;
     font-size: 1.2vw;
     color: rgba(0,0,0,0.6);
 }



.articuloCrear #subtituloArea{
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-weight: normal;
     width: 96%;
     font-size: 1.3vw;
     background: transparent;
     border: solid black;
     border-width: 0 0 1px 0;
     color: rgba(0,0,0,0.6);
     padding-bottom: 2%;
 }

.articuloCrear #subtituloArea:hover{

     transition-duration: 0.5s;
     border: solid rgba(128,36,223,1);
     border-width: 0 0 1px 0;

 }

.articuloCrear #subtituloArea:focus{


    border: solid rgba(128,36,223,1);
    border-width: 0 0 1px 0;
    outline: none;

}

.articulo .contenidoProyecto h5{
    text-align: left;
    font-weight: lighter;
    font-size: 1.1vw;
}

.articuloCrear #contenidoArea{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1.1vw;
    background: transparent;
    border: solid black;
    border-width: 0 0 1px 0;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    width: 92%;
}

.articuloCrear #contenidoArea:hover{

    transition-duration: 0.5s;
    border: solid rgba(128,36,223,1);
    border-width: 0 0 1px 0;

}

.articuloCrear #contenidoArea:focus{


    border: solid rgba(128,36,223,1);
    border-width: 0 0 1px 0;
    outline: none;

}



#uploadID {
    display: none;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 12; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: rgba(0,149,135,1);
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: rgba(0,149,135,1);
    color: white;
    height: 9%;
}


.modal-footer button{
    height: 60%;
    width: 20%;
    border: solid rgba(255,255,255,0.8) 2px;
    float: right;
    margin-top: 1vh;
    border-radius: 10px;
    font-weight: lighter;
    font-size: 1vw;
    background-color: transparent;
    color:white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    top: 10%;
    height: 70%;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -50%; opacity: 0}
    to {top: 15%; opacity: 1}
}

@keyframes animatetop {
    from {top: -50%; opacity: 0}
    to {top: 15%; opacity: 1}
}


textarea {
    resize: none;
}

