@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=latin-ext');


body {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}



.SuperiorZone {

     height: 25%;
     min-height: 150px;
     background-color: rgba(0,149,135,1);
     margin: 0;
     padding-left: 0.3%;
     padding-right: 0.3%;
     padding-top: 2%;
     display: flex;
     justify-content: space-between;
     flex-wrap: nowrap;
 }

#logo {

    padding: 0;
    height: 90%;
    width: 32%;
    background: url("../../images/logo.svg") no-repeat center;
    background-size: contain;
}

.divLema {
    width: 48%;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

.divLema h2 {
    font-weight: lighter;
    font-size: 2.1vw;
    margin: 0;


}

.divLema h3 {
    font-weight: normal;
    font-style: italic;
    font-size: 1.9vw;
}

.loginBox {
    text-align: center;
    position: absolute;
    left: 8.1%;
    width: 32%;
    height: 30%;
    margin-top: 1%;
    padding: 0;

}

.loginBox h4 {
    font-size: 1.7vw;
    font-weight: lighter;
    margin: 5%;
}

.loginBox ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 18%;


}

.loginBox ul li{
    width: 46%;
    min-width: 180px;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 100%;

}

.loginBox ul li input {
    background-color: rgba(0,0,0,0.05);
    border-style: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    font-weight: bold;
    color: rgba(0,0,0,0.5);

}

.loginBox button {
    position: absolute;
    border-style: none;
    border-radius: 5px;
    height: 15%;
    width: 30%;
    top: 70%;
    left: 50%;
    margin-left: -15%;
    background-color: rgba(128,36,223,1);
    color: white;
    font-weight: 300;
    font-size: 1.2vw;
    box-shadow: 1px 1px 2px #888888;
}

.imagenMANOLOGO {
    background-color: #00B7FF;
    height: 75%;
    width: 32%;
    position: absolute;
    left: 60%;
    margin-top: -2%;
    background: url("../../images/dibujo.svg") no-repeat center;
    background-size: contain;
}

.verMasPullDown {
    position: relative;
    background-color: rgba(231,174,46,0.9);

    height: 20%;
    width: 100%;
}

.verMasPullDown h5 {
    position: absolute;
    top: 25%;
    margin-top: -1%;
    left: 5%;
    font-size: 1.5vw;
    font-weight: normal;
    color: white;
}

.verMasPullDown div {
    transition-duration: 0.5s;
    margin: 0;
    padding: 0;
    position: absolute;
    color: white;
    height: 100%;
    left: 80%;
    width: 20%;
    cursor: pointer;
    background: url("../../images/icons/ic_arrow_drop_down_black_24px.svg")  center / contain no-repeat;

}

#mensajeError {
    position: absolute;
    top: 90%;
    text-align: center;
    width: 100%;
    color: red;
    padding: 0;
}

#mensajeError p {
    margin: 0;
    padding: 0;
}

.dropwdown {
    position: absolute;
    height: 25%;
    width: 32%;
    top:62%;
    left: 8.2%;
}
.dropdown-content{
    transition-duration: 0.5s;
    position: absolute;
    background-color: rgba(231,174,46,0.3);
    height: 80%;
    opacity:0;
}

.show {
     transition-duration: 0.5s;
     opacity:1;
 }

 .rotate{
     transition-duration: 0.5s;
     transform: rotate(-180deg);
 }

 .dropdown-content p{
     margin: 3%;
     color: rgba(0,0,0,0.6);
     font-size: 1.5vw;
 }

 #listaLinks {
     position: absolute;
     top: 93%;
     left: 8.2%;
     width: 32%;
     margin: 0;
     padding: 0;
     text-align: center;
     list-style: none;
     display: inline-flex;
     justify-content: space-around;

 }

 #listaLinks li a:hover{
     opacity: 1;
 }

 #listaLinks li a{
     text-decoration: none;
     font-weight: lighter;
     font-size: 1vw;
     opacity: 0.7;
 }



