@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=latin-ext');


body {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


.SuperiorZone {

    height: 10%;
    min-height: 50px;
    background-color: rgba(0,149,135,1);
    margin: 0;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#logo {

    padding: 0;
    margin: 0;
    height: 80%;
    width: 32%;
    background: url("../../images/logo-02.svg") no-repeat center / contain;

}

.divLema {
    width: 48%;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

.divLema h1 {
    font-weight: bold;
    font-size: 2.7vw;
    margin: 0;
}

.imgCohete {
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
    height:85%;
    width: 40%;
    background: url("../../images/negociosycohete-12.svg") no-repeat center / contain;
}

#imgPhoto {
    position: relative;
    width: 24%;
    padding-top: 24%;
    left: 42%;
    top: 13%;
 /*  background-color: gray; */
}

.imgButton {
    position: absolute;
    width: 67%;
    height: 67%;
    left: 17%;
    top: 0;
    background: url("../../images/photobutton.svg") no-repeat center / contain;
    cursor: pointer;
}

#uploadID {
    display: none;
}

.listaRegistro {
    position: absolute;
    left: 64%;
    width: 24%;
    height: 75%;
    top: 25%;
    text-align: center;

}

.listaRegistro ul {
    list-style: none;
    margin: 0;
    padding: 0;


}
.listaRegistro ul li {
    width: 100%;
    margin-bottom: 10%;
}

.listaRegistro ul li input {
    width: 94%;
    padding: 3%;
    border-style: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 15px;
    font-size: 0.9vw;
    color: rgba(0,0,0,0.5);
}
#terminos {
    transform: scale(1.6);
}

.divCheckbox {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding:0;
    font-size: 1vw;
    font-weight: lighter;
}

.divCheckbox label a {
    text-decoration: none;
}

.listaRegistro button {
    position: absolute;
    border-style: none;
    margin-top: 6%;
    height: 6%;
    width: 40%;
    left: 50%;
    margin-left: -20%;
    background: rgba(128,36,233,1);
    color: white;
    font-size: 150%;
    box-shadow: 1px 1px 2px #888888;
    border-radius: 5px;
}
